body{
color:#555;
cursor:default;
font-family:arial;
overflow-y:scroll;
}

.clouds {
height:150px;
background:url(/images/bgclouds.png) repeat-x top center;
}

.sitetitle {
font-family: arial;
padding-left:5px;
width:947px;
height:72px;
background:url(/images/birdy.png) no-repeat top center;
padding-top:78px;
font-size:28pt;
color:#326798;
font-weight:700;
margin:0 auto;
}

.sitesubtitle {
font-size:10pt;
font-weight:400;
}

.separator {
padding:0 5px;
}

.tab {
height:42px;
border:1px solid #ccc;
border-top:0;
width:90px;
padding-top:11px;
padding-left:35px;
color:#326798;
font-weight:700;
font-size:9pt;
background-repeat:no-repeat;
background-position:7px 19px;
}

.tabon {
background-color:#fff;
border-left:1px solid #FFF;
}

.taboff {
background-color:#d8dfea;
cursor:pointer;
}

ul {
font-size:9pt;
color:#000;
line-height:1.5em;
list-style-image:url(/images/bullet.gif);
}

li
{
padding-bottom: 3px;
}

.tabcontent {
width:459px;
border:1px solid #ccc;
background:#fff;
float:left;
display:none;
padding:5px;
}

.bigtext {
font-size:19px;
color:#326798;
font-weight:700;
}

.biggertext
{
font-size: 18pt;
font-weight: bold;
}

a {
color:#326798;
text-decoration:none;
}

.smtitle span
{
color: #777;
font-size: 8pt;
font-weight: normal;
padding-left: 7px;
}

.smtitle span
{
color: #000;
font-size: 8pt;
font-weight: normal;
padding-left: 7px;
}

.smtitle img
{
vertical-align: top;
padding: 0 8px 8px 0;
}

.smtitle,.bubble0title {
color:#326798;
}

.smtitle,.smtitle2,.bubble0title {
font-weight:700;
font-size:9pt;
text-decoration:none;
}

.bgtint {
position:absolute;
top:0;
left:0;
background:url(/images/bgtint.png);
width:100%;
height:100%;
display:none;
z-index:999;
}

.loginbox {
border:2px solid #7494B2;
background:#D8DFEA;
width:410px;
margin:300px auto;
padding:2px 24px 24px;
}

.logincontent .minwidth
{
width: 398px;
height: 1px;
clear: both;
}

.logincontent
{
border:1px solid #7494B2;
background:#fff;
padding:4px 5px 5px 5px;
}

.logincontent .topborder
{
border-top: 2px solid #d8dfea; margin-top: 3px;
}

.curuseropts {
border:1px solid #9FB6C0;
width:186px;
height:28px;
background:#fff;
padding:3px 6px;
font-size: 9pt;
font-weight: normal;
}

img {
border:0;
}

.action {
font-size:9pt;
color:#326798;
padding-left:23px;
background-repeat:no-repeat;
cursor:pointer;
padding-top:2px;
float:left;
margin-right:20px;
}

.addsep {
border-left:1px solid #d8dfea;
height:66px;
width:1px;
margin:auto;
}

.addchoice {
height:54px;
margin-top:10px;
border:1px solid #EDEFF4;
background:#F5FCFE;
width:30%;
float:left;
background-position:5px 5px;
background-repeat:no-repeat;
color:#555;
font-size:16pt;
font-weight:700;
text-indent:20px;
text-align:center;
cursor:pointer;
}

DIV.ProgressBar {
width:100px;
border:1px solid #000;
margin-right:1em;
height:.75em;
margin-left:1em;
zoom:1px;
display:inline;
padding:0;
}

DIV.ProgressBar DIV {
background-color:Green;
font-size:1pt;
height:100%;
float:left;
}

.progessbaron,.progessbaroff {
height:17px;
line-height:17px;
}

.progressbaroff {
border:1px solid #ccc;
background:#F3F8FB;
width:300px;
margin:0 auto;
}

.progressbaron {
background:#A8BDC6;
width:0;
}

.progress {
margin-top:5px;
font-size:9pt;
text-align:center;
margin-left:10px;
}

.uploadcontent {
border:1px solid #c0c0c0;
border-top: 0;
background:#fff;
padding:4px;
margin:0 2px;
}

.uploaderror {
font-size:16pt;
font-weight:700;
text-align:center;
color:red;
}

.phnewparent
{
float:left;
}

.phnewcontainer {
float:left;
position:relative;
margin-right:3px;
margin-top:3px;
width:80px;
}

.imgborder img {
border:2px solid #A8BDC6;
}

.phnew img {
border:2px solid #A8BDC6;
cursor:pointer;
}

.phnew:hover img {
border:2px solid red;
cursor:pointer;
}

.button:hover {
border: 1px solid #326798;
}

.button:active {
border: 1px solid #AB7E2F;
}

.button {
color:#326798;
font-size: 12px;
padding: 2px 5px;
background:#FFF;
cursor: pointer;
border:1px solid gray;
}

.button_disabled, .button_disabled:hover, .button_disabled:active
{
border:1px solid gray;
cursor: default;
color: #555;
}

.marquee {
float:left;
padding-right:12px;
font-size:9pt;
width:80px;
overflow: hidden;
}

.marquee span {
font-size: 8pt;
color: #555;
}

.marqueeparent {
margin-bottom:12px;
width:600px;
margin-left:-92px;
position:relative;
}

.marqueecontainer {
width:445px;
overflow:hidden;
height:90px;
}

.navlinks a {
color:#fff;
}

.whoshere .info img
{
	width: auto;
	height: auto;
	border: 0;
}

.whoshere .info a
{text-decoration: underline;}

.whoshere .info
{
font-size: 9pt; color: #000;
padding: 5px 0 0 2px;
line-height: 8pt;
}


.whoshere img, .userpics img {
border:1px solid #000;
margin-bottom:5px;
width:24px;
height:24px;
vertical-align:middle;
margin-right:2px;
}

.whoshere, .userpics {
font-size:8pt;
color:#777;
}

.whoshere
{
float: left; padding-left: 30px; height: 165px; width: 315px;
}

.footlinks2 {
float:right;
font-size:9pt;
padding-top:5px;
}

.footlinks2 span {
padding-right:5px;
}

.footlinks2 span a {
  color:#000000;
}

.footlinks2 img {
width:5px;
height:5px;
background:#a6a6a6;
vertical-align:middle;
margin-bottom:1px;
}


.footlinks {
float:right;
font-size:9pt;
padding-top:5px;
}

.footlinks span {
padding-right:5px;
}

.footlinks span a {
  color:#555;
}

.footlinks img {
width:5px;
height:5px;
background:#a6a6a6;
vertical-align:middle;
margin-bottom:1px;
}

.mediastat span,.mediatitle {
color:#3D395A;
font-size:14pt;
font-weight:700;
}

.mediatitle {
height:38px;
line-height:18px;
overflow:hidden;
width:510px;
}

.mediasubtitle {
color:#3D395A;
font-size:8pt;
width: 550px;
overflow: hidden;
}

.mediasubtitle span {
margin-right:25px;
}

.mediabox {
background:#D8DFEA;
}

.boxleftNoPadding {
width:640px;
}

.boxleft,.mediabox {
width:625px;
padding:5px;
}

.mediastat, .mediastat2 {
width:105px;
border-bottom:1px solid #ccc;
color:#326798;
font-size:8pt;
text-align:center;
}

.comment0 img, .comment1 img, .comment2 img {
float:left;
width:48px;
height:48px;
}

.comment0, .comment1, .comment2, .comment3, .comment4 {
font-size:8pt;
clear:both;
padding-top:5px;
}

.comment0 a, .comment1 a, .comment2 a, .comment3 a , .comment4 a{
font-size:8pt;
}

.comment0 div {
width:429px;
overflow-x:hidden;
padding-left:10px;
}

.comment0 div div
{
  padding-left:0px;
}

.comment1 div {
width:285px;
overflow-x:hidden;
}

.comment1 div a {
font-weight: normal;
}

.commenthead {
border-bottom:1px solid #ccc;
}


.comment2 div {
width:375px;
overflow-x:hidden;
}

.comment2 div a {
font-weight: normal;
}

.comment3 div {
width:373px;
overflow-x:hidden;
}

.comment4 div {
width:285px;
overflow-x:hidden;
}

.comment3 div a {
font-weight: normal;
}

.comment4 div a {
font-weight: normal;
}

.alsoviewed {
background:#d8dfea;
height:51px;
border-bottom:1px solid #ccc;
padding:11px 0 0 18px;
}

.albumcarousel img {
vertical-align:middle;
border:2px solid #A8BDC6;
margin-right:3px;
width:75px;
height:50px;
}

.albumcarousel {
float:left;
line-height:54px;
padding-left:3px;
height:54px;
padding-bottom: 3px;
}

.dropdown {
cursor:pointer;
position:absolute;
top:15px;
left:0;
border:1px solid #326798;
border-top:0;
width:55px;
z-index:990;
background:#fff;
padding:2px;
}

.viewdd
{
width: 80px;
border:1px solid #d8defa;
border-top:0;
padding: 8px 5px 3px;
left: -16px;
font-size: 8pt;
line-height: 16pt;
}

.showdd img
{
vertical-align: middle;
padding-right: 10px;
}

.showdd input
{
vertical-align: text-bottom;
margin: 0 10px 0 0;
padding: 0;

}

.showdd div
{
padding: 0 5px;
}

.showdd
{
padding: 0;
width: 115px;
border:1px solid #7494B2;
top: 22px;
font-size: 9pt;
line-height: 20pt;
display: none;
}

.contentlinks {
border-bottom:2px solid #D8DFEA;
margin-bottom:4px;
font-size:9pt;
height:16px;
padding-left:3px;
}

.thead {
clear:left;
width:150px;
text-align:right;
font-size:10pt;
font-weight:700;
float:left;
padding:8px 10px 5px 0;
}

.tcontent {
float:left;
font-size:9pt;
color:#777;
width:470px;
padding:5px 0;
}

.tcontent input {
font-size:10pt;
width:225px;
}

.tcontent .img {
float:left;
margin-right:10px;
width:48px;
height:48px;
}

.error,.success {
text-align:center;
font-weight:700;
background:#FFF;
margin:20px;
padding:10px;
}

.error {
border:2px solid red;
}

.success {
border:2px solid green;
}

.mediaedit {
color:gray;
width:630px;
border-bottom:1px dotted #326798;
font-size:8pt;
clear:left;
margin-bottom:10px;
}

.mediaedit img {
margin-right:5px;
vertical-align:bottom;
}

.mediapreview .stats div {
float:left;
padding-top: 5px;
overflow-x:hidden;
font-size:9pt;
}

.mediapreview .stats img {
vertical-align: middle;
padding-right: 5px;
}

.embedlabel {
width:85px;
text-align:right;
font-weight:700;
font-size:9pt;
float:left;
padding:10px 10px 0 0;
clear: left;
}

.emailpopup .embedlabel
{
width: 70px;
}


.embedinput textarea {
width:295px;
height:30px;
}

.embedinput {
padding-top:10px;
width:300px;
clear:right;
float:left;
}

.shareinput .embedinput textarea
{
height: 30px;
width: 375px;
}

.embedlabel img {
vertical-align:bottom;
}

.pagination {
text-align:right;
float:right;
font-size:9pt;
}

.attention {
color:#326798;
font-size:12pt;
font-weight:700;
}

.ptab
{ height: 23px;
}

.pheaditem
{
width: 149px;
}

.ptab, .pheaditem
{
float: right; font-size: 9pt; cursor: pointer;
}

.ptab .number
{
padding-left: 10px; float: right; font-family: arial; font-size: 16pt; color: #555; font-weight: bold;
}

.pheaditem .number
{
padding-left: 10px; float: left; font-family: arial; font-size: 16pt; color: #555; font-weight: bold;
}

.caption, .caption_nopadding
{
 background-repeat: no-repeat; background-position: 0 3px; padding: 4px 0 0 24px; float: left; font-size: 9pt;
}

.caption_nopadding
{
padding-left: 0;
}

.caption img, .caption_nopadding img
{
vertical-align: middle; margin: 0 8px 3px 0;
}

.caption_nopadding span
{
  font-weight: bold; color: #555;
}

.caption div, .caption_nopadding div
{
float: right; padding-left: 8px; margin-top: -3px; font-size: 14pt; font-weight: bold; color: #555;
}

.ptab a, .pheaditem a
{
	font-weight: normal;
}

.ptabon
{
padding: 5px 25px 0 25px;
border: 1px solid #D8DFEA; border-bottom: 1px solid #fff;
}

.ptaboff
{
padding: 6px 26px 0 26px;
border-bottom: 1px solid #d8dfea;
}

.phead {
line-height:18px;
padding:0px;
margin:0px;
float: none; height: 23px; padding-left: 10px;
width:760px;
}

.phead .username div
{
height: 28px; overflow: hidden; white-space: nowrap; float:left; margin-bottom:-5px;
}

.phead .username
{
float:left;
height: 26px;
}

.phead .username span
{
font-size: 8pt;
padding-left: 7px;
}

.phead .username a
{
font-size:18pt;
color:#555;
font-weight:700;
}

.phead .username a:hover
{
font-size:18pt;
color:#326798;
font-weight:700;
}

.psubhead {
font-size:14pt;
color:#555;
line-height:14px;
font-weight:700;
border-bottom:1px solid #d8dfea;
padding:0 0 5px;
}

.notify_odd,.notify_even {
font-size:10pt;
padding:5px;
}

.notify_odd input,.notify_even input {
vertical-align:text-top;
margin:0 7px 0 0;
padding:0;
}

.notify_head {
font-size:10pt;
font-weight:700;
margin:15px 0 3px 25px;
}

.loginmessage {
text-align:center;
font-size:12pt;
font-weight:700;
padding:50px 5px;
}

.nomedia {
text-align:center;
font-size:10pt;
padding:50px 5px;
}

.noresults {
height:100px;
text-align:center;
font-size:11pt;
font-weight:700;
line-height:20px;
width:280px;
padding:90px 10px 10px;
}

.toshead {
font-size:12pt;
font-weight:700;
margin:20px 0 20px -20px;
}

.charsleft {
text-align:right;
height:18px;
font-size:8pt;
}

.uploaddesc {
color:#555;
font-family:arial;
font-size:9pt;
width:320px;
height:60px;
border:1px solid #555;
}

.bubble1 div {
padding-bottom:7px;
}

.bubble0 img,.bubble1 img {
float:left;
padding-right:8px;
}

.bubble0social {
font-size:8pt;
height:20px;
}

.bubble0social img {
float:none;
vertical-align:bottom;
padding-right:2px;
}

.bubble1over {
position:absolute;
top:0;
left:0;
height:135px;
width:299px;
}

.bubble0
{
position:relative;
font-size:9pt;
font-family:arial;
padding:10px;
}

.bubble1 {
position:relative;
font-size:9pt;
font-family:arial;
padding:7px;
}

.bubble1view span {
font-weight:400;
color:#777;
}

.bubble0view a,.bubble1view a {
font-weight:400;
}

.bubble0view,.bubble1view {
font-size:8pt;
font-weight:700;
}

.bubble1view {
float:right;
}

.bubble1by {
line-height:16px;
font-weight:700;
color:#000;
padding-top:3px;
}

.bubble0title {
height:10px;
overflow:hidden;
padding-bottom:5px;
}

.bubble1descr {
height:55px;
line-height:13px;
overflow:hidden;
padding-top:5px;
}

h1 {
font-size:20pt;
margin:0;
}

.pageid {
margin-top: 15px;
font-size:12pt;
font-weight: bold;
padding-left:23px;
line-height:16px;
background-repeat:no-repeat;
height: 22px;
overflow: hidden;
}

.subtitlepic {
font-size:10pt;
color:#326798;
padding-left:23px;
line-height:16px;
background-repeat:no-repeat;
cursor: pointer;
}


.txtsearch {
background-image:url(/images/magglass.png);
padding-left:23px;
width:195px;
}

.btnsearch {
border-left:0;
background-image:url(/images/btnsearch.png);
width:23px;
cursor:pointer;
}

.btnx {
border:1px solid #ccc;
font-size:8pt;
font-weight: bold;
text-align: center;
border-left:0;
width:15px;
color: #555;
cursor:pointer;
}

.userresulthead {
background-image:url(/images/pix_d8dfea.png);
background-repeat:repeat-x;
background-position:0 22px;
height:27px;
}

.userresulthead,.userresulthead a,.bigtext2 {
color:#555;
font-size:16pt;
font-weight:700;
}

.userresulthead a:hover {
color:#326798;
text-decoration:underline;
}

.userresulthead .mediacount {
position:relative;
width:100px;
float:left;
background-repeat:no-repeat;
font-size:8pt;
color:#326798;
font-weight:400;
cursor:pointer;
padding:3px 0 0 20px;
}

.userresulthead .mediacount span {
position:absolute;
left:65px;
font-size:16pt;
color:#555;
font-weight:700;
top:-3px;
}

.blurb {
padding-top: 5px;
font-size:8pt;
color:#555;
line-height:12pt;
}

.blurb span
{
font-size:10pt;
font-weight:bold;
}

.blurb .viewprofile
{
padding-bottom: 5px;
}

.blurb img
{
margin: 0 5px 0 0; vertical-align: middle;
}

.resultdescr {
height:32px;
}

.resulttitle {
height:16px;
font-weight:700;
}

.resultdescr,.resulttitle {
width:495px;
line-height:15px;
overflow:hidden;
}

.resultdata {
float:left;
width:500px;
font-size:9pt;
margin-top:-2px;
}

.smtitle2,.ptabon a {
color:#555;
}

input,textarea,select {
font-family:arial;
font-size:9pt;
}

.nagbox
{
background: #EBEBEB; padding: 10px 5px 10px 45px; color: #555; width: 400px; font-size: 9pt; margin: 5px auto 10px auto;
}

.nagbox span{ font-weight: bold; font-size: 11pt; cursor: pointer; }
.nagbox div {float: left;}

.modmediaresult
{
border-bottom: 1px dotted #326798; margin-top: 10px; padding-bottom: 10px; font-size: 8pt;
}

.getstarted
{
  margin: 0 auto 10px auto; background: #E5ECF3; width: 170px; line-height: 48px; text-align: center; cursor: pointer; margin-top: 15px;
  border: 1px solid #A8BDC6;
}

.albumpreview
{
padding-top: 5px; margin-left: -5px; clear: both;
}

.albumpreview div img
{
border: 2px solid #A8BDC6;
}

.albumpreview div
{
padding: 5px 0 0 5px; float: left;
}

.addthis
{
float: left; padding: 10px 0 0 35px;
font-size: 10pt;
}

.mediaeditstat { float: left; width: 130px; }

.blurbdivider
{
border-top: 1px solid #d8dfea; height: 1px; margin: 13px 0 6px 0;
}

.whyicons img
{
margin: 7px 4px 4px 4px;
}
.whyicons
{
text-align: center;
}

.greeninfo
{
width: 292px; background: #D0E698; border: 1px solid #D0E698; background-image: url(/images/iphone.png); background-position: 246px 0px; background-repeat: no-repeat;
}

.yellowinfo
{
background: #FFF9D7;
width: 590px;
border: 1px solid #e2c822;
}

.greeninfo, .yellowinfo
{
padding: 5px 0 0 6px; font-size: 10pt; color: #555;
margin-bottom: 5px;
height: 59px;
}

.yellowinfo .title, .greeninfo .title
{
font-size: 13pt; color: #326798; font-weight: bold; padding-bottom: 3px;
}

.yellowinfo, .greeninfo a  { font-size: 10pt; }

.curuserbox
{
float: left; width: 200px; border: 1px solid #fff; font-family: arial;
}

.gctext
{
float: left; width: 525px;
}

.gcoption
{
width: 65px; float: left; font-weight: bold; color: #326798; padding-right: 10px; text-align: right;
}

.gctext, .gcoption
{
	padding-top: 20px;
}

.sideinfo .new
{
	width: 295px;
	background-image: url(/images/new.png);
	background-repeat: no-repeat;
	font-size: 11pt;
	height: 40px;
	padding: 2px 0 7px 50px;
	line-height: 17px;
	margin: 32px auto 5px;
}

.sideinfo .new span
{
font-weight: bold;
color: #326798;
}


.sideinfo .phones img { margin-right:10px; }

.sideinfo .phones {
font-size: 10pt; color: #555;
padding-top: 15px;
margin:10px auto 0;
width: 360px;
}

.sideinfo .follow
{
width: 345px; height: 27px; margin: 45px auto; white-space: nowrap;
}

.sideinfo
{
float: left; width: 470px;
}

.sideinfo .new a
{
font-size: 9pt; font-weight: normal;
}

.rotate
{
-o-transform: rotate(-90deg);
-webkit-transform: rotate(-90deg);
-moz-transform: rotate(-90deg);
filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

.btnupload
{
	background-image: url(/images/wait_sm.gif);
}

.blueinvite span
{
color: #326798; font-weight: bold;
}

.blueinvite
{
width: 490px; height: 35px; font-size: 11pt; padding: 15px 20px 15px 65px; margin: 0 auto; border: 1px solid #555; background: #E5ECF3; background-position: 16px 13px; background-image: url(/images/new.png); background-repeat: no-repeat;
}

.subhead .number
{
font-size: 8pt;
font-weight: normal;
}

.logmedia
{
padding-top: 5px; float: left;
font-size: 8pt;
overflow-x: hidden;
}

.profileleft, .contentleft
{
width: 184px; float: left;
}

.piconly
{
width: 53px;
}

.minheight
{
float: right; width: 1px; overflow: hidden;
}


.minheight { height: 600px; }

.profilecontent_container
{
float: left; border-right: 1px solid #d8dfea;
}

.profilecontent
{
float: left; width: 563px; position: relative;
}

.profilecontent_minus1
{
width: 562px;
}

.profilepic .change img
{
vertical-align: middle; padding-right: 5px;
}

.profilepic .change
{
position: absolute; margin: 5px; padding: 3px; border: 1px solid #d8dfea; font-size: 8pt; background: #EDEFF4;
display: none;
cursor: pointer;
}

.profilepic
{
position: relative;
text-align: center;
}



.txtwrite0
{
width: 385px; color: #000;
}


.commentwrite0 {
margin-top: 10px;
border:1px solid silver;
background:#d8dfea;
width:478px;
padding:5px;
}

.commentwrite0 input {
border:1px solid #7F9DB9;
font-size:8pt;
height:14px;
background:#fff;
margin:0;
padding:3px;
}

.users_that_like a
{
font-weight: normal;
font-size: 8pt;
}

.users_that_like .likes, .users_that_like .dislikes
{
background-image: url(/images/thumb_up.png);
background-position: left center;
background-repeat: no-repeat;
padding-left: 23px;
display: block;
width: 80%;
float: left;
clear: left;
height: 26px;
line-height: 26px;
}

.users_that_like .remove
{
float: right; text-align: right; clear: right;
line-height: 26px;
}

.users_that_like .dislikes
{
background-image: url(/images/thumb_down.png);
}

.users_that_like
{
background: #F2FBFE; padding: 2px 6px 4px 4px; width: 480px; margin-top: 5px; font-size: 8pt;
display: none;

background: -webkit-gradient(linear, left top, right top, from(#F2FBFE), to(#fff));
background: -webkit-linear-gradient(left, #F2FBFE, #fff);
background: -moz-linear-gradient(left, #F2FBFE, #fff);
background: -ms-linear-gradient(left, #F2FBFE, #fff);
background: -o-linear-gradient(left, #F2FBFE, #fff);

}

.media_popup_comments .users_that_like
{
width: 337px;
}

.itemlike0
{
float: left;
}

.mediainfo span
{
color: #000;
}

.mediainfo div
{
padding: 3px 7px;
font-size: 8pt;
float: left;
border-right: 1px solid #d8dfea;
}

.mediaactions td
{

}

.profileleft .nomedia
{
width: 178px; font-size: 8pt; padding-top: 20px; text-align: center;
}

.txtstatus
{
border: 1px solid #c0c0c0; border-top: 0; padding: 3px; background: white;
}

.txtstatus textarea
{
width: 347px; height: 20px; line-height: 20px; padding: 0px; background: #fff; border: 0; font-family: arial; font-size: 10pt; color: #326798;
}

.logbubble
{
background-image: url(/images/logbubble.png); background-repeat: repeat-x; background-position: 42px 0; height: 10px; margin: 0 2px;
}

.tbstatus
{
margin-top: 5px; clear: both; width: 359px; float: left; padding-left: 2px;
}

.profilepic_container
{
float: left; width: 48px; position: relative;
}

.leftcolumn_container
{
float: left; width: 180px; position: relative;
}

#tinybox {position:absolute; display:none; padding:0px; background:#D8DFEA url(/images/tbpreload.gif) no-repeat 50% 50%; border:2px solid #7494B2; z-index:2000}
#tinymask {position:absolute; display:none; top:0; left:0; height:100%; width:100%; background:#fff; z-index:1500}
#tinycontent {background:#fff}

.followme img
{
margin-right: 5px;
}

.followme
{
padding-top: 5px;
}

.nodata
{
font-size: 8pt; margin-top: -10px; padding: 10px 30px 5px 0px;
}

.showddcontainer
{
float: left; font-size: 9pt; position: relative; padding-top: 3px;
}

.shareselall input
{
vertical-align: text-bottom;
margin: 0 5px 0 25px; padding: 0;
}

.shareselall
{
float: left; font-size: 9pt;
padding: 3px 25px 0 0;
}

.catchoice
{
cursor: pointer; line-height: 16pt; padding-left: 35px; text-indent: -35px;
float: left;
}

.morecomments img
{
width: auto;
height: auto;
margin: 0;
padding: 0;
float: none;
}

.morecomments a
{
font-size: 8pt;
font-weight: normal;
}

.morecomments div
{
padding: 0 2px;
}

.morecomments
{
margin-left: 1px; border-top: 1px solid #d8dfea; padding: 5px 0; text-align: center; height: 19px; overflow: hidden;
}

.morecomments0, .morecomments1, .morecomments3
{
font-size: 8pt;
}

.morecomments0
{
width:490px;
}

.morecomments1
{
width:355px;
}

.morecomments3
{
width:290px;
}


.noresults
{
color: #000; padding: 50px; font-weight: bold; text-align: center;
}

.small
{
font-size: 8pt;
color: #555;
cursor: default;
}

.networkbuttons .small
{
background-image: url(/images/accept.png);
visibility: hidden;
}

.networkbuttons .subtitlepic
{
padding-bottom: 5px;
}

.sublinks
{
float: left; padding-right: 40px; width: auto;
margin-top: -5px;
}

.logentryfilters
{
  width: 431px;
  padding: 10px;
  font-size:12px;
}

.logentryfilters img
{
  margin-left:10px;
}

.users_that_like_popup img
{
width: 25px;
height: 25px;
border: 1px solid #000;
padding: 0;
}

.users_that_like_popup li
{
float: left;
padding: 5px 5px 0 0;
}

.users_that_like_popup li:first-child
{
padding-left: 5px;
}

.users_that_like_popup
{
	background: #d8dfea;
	border: 1px solid #555;
	display: block;
	list-style: none;
	color: #d8dfea;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 99999;
	overflow: hidden;
	height: 37px;
}

.bpopup
{
	border: 2px solid #7494B2;
	background: #d8dfea;
	display: table-cell;
}

.bpopup div.contents
{
	margin: 20px;
	padding: 3px;
	border: 1px solid #7494B2;
	background: #fff;
}

.logentry .users_that_like
{
width: 336px;
}

ul.autocomplete
{
list-style: none;
margin: 0;
display: block;
border: 1px solid #555;
width: 294px;
font-size: 8pt;
padding: 0;
max-height: 270px;
overflow: auto;
z-index: 999;
position: absolute;
}

ul.autocomplete li:hover
{
background: #eee;
}

ul.autocomplete li
{
position: relative;
margin: 0;
padding: 3px;
display: block;
clear: both;
background: #fff;
height: 48px;
overflow: hidden;
white-space: nowrap;
cursor: pointer;
line-height: 16px;
}

ul.autocomplete img
{
width: 48px;
height: 48px;
float: left;
clear: left;
}

ul.autocomplete span
{
color: #326798;
font-size: 9pt;
font-weight: bold;
white-space: nowrap;
}

ul.autocomplete div
{
position: absolute;
left: 56px;
top: 3px;
clear: right;
display: block;
white-space: nowrap;
overflow: hidden;
height: 48px;
}

#workedit
{
position: relative;
}

#header_search ul.autocomplete
{
width: 392px;
}

.compose_popup
{
	display: block;
}

.compose_popup label
{
font-weight: bold;
display: block;
font-size: 9pt;
line-height: 20px;
padding-top: 10px;
}

.compose_popup label .text
{
font-weight: bold;
width: 125px;
float: left;
display: block;
}

.compose_popup input[type='text'], .compose_popup textarea, .compose_popup select
{
	width: 421px;
	padding: 1px;
	margin: 0;
	border: 1px solid gray;
}

.compose_popup textarea
{
height: 175px;
}

.compose_popup .buttons
{
text-align: right;
padding-top: 5px;
}

.like_buttons
{
display: block; width: 16px; height: 16px; margin: -10px 0 0 20px; padding-top: 10px; overflow: hidden; float: left;
}


table.nopad
{
border: 0;
padding: 0;
border-spacing: 0;
margin: 0;
}

.footerbar
{
  margin-top:4px;
  clear:both;
  width:100%;
  height:170px;
  background-color:#edeff4;
  border-top:2px solid #adbbca;
  font-size:9pt;
}

.thin .footerbar
{
height: auto;
}

.footerbar .wrapper,
.footerbottom .wrapper
{
width: 960px;
}

.thin .footerbar .wrapper,
.thin .footerbottom .wrapper
{
width: auto;
}

.footerbottom .top
{
float:right; margin-right:100px;
}

.thin .footerbottom .top
{
display: none;
}

.footerbottom .copyright
{
float:left; margin-left:100px;
}

.thin .footerbottom .copyright
{
float: none;
margin: 0;
text-align: center;
}

.footergroup
{
  float:left;
  padding:20px;
  width:120px;
}

.thin .footergroup
{
width: 176px;
padding: 15px;
font-size: 14px;
line-height: 1.5em;
}

.thin .footergroup.thin_right
{
clear: right;
}

.thin .footergroup.thin_left
{
clear: left;
}

.footergroup .title
{
  font-weight:bold;
  float:left;
  clear:left;
  color: #333;
  margin-bottom:10px;
}

.footergroup a
{
  float:left;
  clear:both;
}

.footerbottom
{
  font-size:9pt;
  padding-top:10px;
  height:25px;
  background-color:#3c3c3c;
  color:#fff;
  width:100%;
  margin-left:auto;
  margin-right:auto;
}

.footerbottom div a {
   color:#fff;
}


.navdropcontain
{
display: inline;
}

.footer_connect_with_us
{
line-height: 20px;
}

.footer_connect_with_us img
{
vertical-align: bottom;
width: 20px;
height: 20px;
margin-right: 5px;
}

.showmore_wait
{
background-image: url(/images/wait_sm.gif);
background-repeat: no-repeat;
background-position: 38%;
}

.mh_recent h2
{
clear: both;
display: block;
margin: 0;
padding: 12px 0 2px 0;
font-size: 13pt;
}

.mh_recent .category h3
{
margin: 0 0 10px 0;
padding: 0;
text-align: center;
font-size: 12pt;
font-weight: 400;
}

.mh_recent li span
{
display: block;
width: 82px;
height: 80px;
line-height: 16px;
overflow: hidden;
float: left;
padding-top: 5px;
}

.mh_recent li img
{
width: 100px;
height: 80px;
float: left;
clear: left;
margin: 5px 5px 0 0;
}

ul.quicknav li
{
line-height: 16px;
display: table-cell;
}

ul.quicknav
{
clear: both;
padding: 4px 0 0 0;
}

ul.quicknav li strong
{
font-size: 14pt;
font-weight: bold;
color: #555;
padding: 0 0 0 5px;
}

ul.quicknav li
{
font-weight: normal;
float: left;
background-repeat: no-repeat;
padding: 0 20px 0 18px;
line-height: 12px;
white-space: nowrap;
height: 16px;
font-size: 14pt;
color: #fff;
}

ul.quicknav li:before
{
content: '|';
}

ul.quicknav li a
{
font-size: 9pt;
font-weight: normal;
}
/*Added by AppDragon*/
div.subhead
{
    width: 100%;
    height: 28px;
    display: block;
    margin: 0;
    padding: 0;
    background-image: url(/images/h3blue_bg.png);
    margin-bottom: 9px;
    border-top: none;
}
div.subhead > span
{
    display: block;
    height: 28px;
    background: #67a6cb;
    padding: 0 10px;
    float: left;
    line-height: 28px;
    color: #fff;
    font-weight: normal;
    text-transform: uppercase;
    font-size: 14px;
    font-family: Lato, Arial, Helvetica, sans-serif;
    font-weight: 300;
}

div.small_font > span
{
	font-size: 11px;
}
div.medium_font > span
{
	font-size: 12px;
}

/* Show links */
.loglink .img_container
{
    border: 1px solid #000;
    width: 119px;
    height: 95px;
    overflow: hidden;
    position: relative;
    margin-bottom: 5px;
}
.loglink .img_container img
{
    display: none;
}

.loglink .img_container img.loaded
{
position: absolute;
margin: auto;
top: 0;
left: 0;
right: 0;
bottom: 0;
display: none;
}

.loglink .left .prev
{
float: left;
margin: 0;
}

.loglink .left .next
{
float: right;
margin: 0;
}

.loglink .left
{
    float: left;
    margin-right: 10px;
    width: 119px;
    text-align: center;
    font-size: 8pt;
    line-height: 19px;
}
.loglink textarea.title
{
    border: 0;
    padding: 0;
    margin: 0;
    font-size: 12px;
    color: #326798;
    font-weight: bold;
    display: block;
    width: 263px;
    height: 18px;
    line-height: 14px;
    overflow: hidden;
}
.loglink textarea.descr
{
    border: 0;
    padding: 0;
    margin: 0;
    font-size: 12px;
    color: #555;
    font-weight: normal;
    display: block;
    line-height: 14px;
    overflow: auto;
    width: 292px;
    height: 60px;
}
.loglink .ilink
{
    color: black;
    font-size: 12px;
    height: 18px;
    overflow: hidden;
}
.loglink .content {
    overflow: hidden;
    width: 292px;
    height: 100px;
}
.loglink
{
height: 0px; width: 0px; overflow: hidden;
}

.loglink .uploadToLoglinkP
{
    float: left;
    padding-top: 2px;
	font-size: 9pt;
}

.tweetbox
{
padding-top: 10px; background: #EDEFF4; width: 441px;
}





.tweetbox label.upload input
{
display: none;
}

.tweetbox .progressbar_container
{
width: 193px;
float: left;
padding: 0.5em 0 0 10px;
}

.tweetbox .progressbar
{
    height: 3px;
    background: #67A6CB;
}

.tweetbox div.upload
{
float: left;
height: 1em;
font-size: 9pt;
}

label.upload
{
float: left;
color: #326798;
}

/*}*/

#uploadToLoglinkBox
{
    display: inline;
    margin-left: 9px;
}
.loglink .X
{
float: right;
height: 18px;
width: 18px;
padding-left: 10px;
}

.loglink_show
{
border: 1px solid #c0c0c0; padding: 5px; margin: 2px 4px 2px 2px; background: #fff; display: none;
height: auto; width: auto;
}
/* END Show links */
textarea
{
outline: none;
resize: none;
}

.link{
    margin-top: 10px;
}
.link > a{
    color: #7f7f7f !important;
}
.myloglink
{
    border: 1px #808080 solid;
    padding: 3px;
    background: #f5f7fa;
    cursor: pointer;
    display: block;
    margin-top: 5px;
    font-size: 11px;
}
.myloglink.bigImage
{
    padding: 0px;
    margin-top: 0px;
    border: none;
}
.myloglink.bigImage .bottomBox
{
    border-bottom: 1px gray solid;
    padding-top: 5px;
    border-left: 1px grey solid;
    border-right: 1px grey solid;
    width: 370px;
    margin: 0px;
    clear: both;
}
.mini .myloglink.bigImage .bottomBox
{
    width: 278px;
}
.myloglink .myimage
{
    height: 95px;
    overflow: hidden;
    position: relative;
    margin-right: 5px;
/*
    border: 1px black solid;
    padding: 3px;
    background: #F0F0F0;
    cursor: pointer;
    display: block;
    margin-top: 5px;
}

.myloglink .myimage
{
    width: 119px;
    height: 95px;
    overflow: hidden;
    position: relative;
    margin-bottom: 5px;
*/
    float: left;
}
.myloglink .myimage img
{
    /*width: 98px;*/
    height: auto;
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.myloglink .myimage,
.myloglink .myimage img,
.loglink .img_container img.loaded
{
    width: 120px;
}
.myloglink.bigImage>div{
    padding: 0 3px;
}
.myloglink.bigImage .myimage
{
    width: 378px;
    padding: 0px;
    height: auto;
    text-indent: 0px;
    margin-right: 0px;
}
.mini .myloglink.bigImage .myimage
{
    text-indent: 0px;
}
.mini .myloglink.bigImage .myimage,
.mini .myloglink.bigImage .myimage img
{
    width: 286px;
    padding: 0px;
}
.myloglink.bigImage .myimage img
{
    width: 378px;
    height: auto;
    position: relative;
    margin: 0;
}
.mini .myloglink.bigImage .mytitle
{
    width: 278px;
/*
.myloglink.bigImage .myimage
{
    width: 372px;
    height: 294px;
}
.myloglink.bigImage .myimage img
{
    width: 372px;
*/
}
.myloglink .mytitle
{
    height: 17px;
    color: #326798;
    font-weight: bold;
    overflow: hidden;
    text-indent: 0px;
    font-size: 12px;
    font-stretch: condensed;
/*
    width: 250px;
    color: #326798;
    font-weight: bold;
    overflow: hidden;
*/
}
.myloglink .mylink
{
    color:#000000;
    height: 17px;
    overflow: hidden;
    text-indent: 0px;
    font-size: 11px;
/*
    width: 250px;
*/
}
.myloglink .mydescr
{
    color: #555555;
    line-height: 14px;
    text-indent: 0px;
    font-size: 11px;
}
.myloglink .mytitle,
.myloglink .mylink
{
    width: 245px;
}
#uploadToLoglink
{
    cursor: pointer;
}
.logentry .content
{
    clear: both;
    width: 380px;
    float: left;
    padding-left: 55px;

}
.clear
{
    clear: both;
}

ul.autocomplete .autotype-li{
    height: 36px;
}

ul.autocomplete .autotype-li.last{
    margin-bottom: 5px;
}

.autotype-li .autotype-link{
    color: #326798;
    font-size: 9pt;
    font-weight: bold;
    white-space: nowrap;
    line-height: 39px;
    display: inline-block;
}

.autotype-li .autotype-icon{
    display: inline-block;
    width: 36px;
    height: 36px;
    padding-right: 10px;
}

.sub-header .active {
	font-weight: bold;
}
