body {
background:#ACD5EB;
margin:0 0 10px;
padding: 0;
}

.curuserpic {
height:36px;
width:36px;
margin-right:3px;
border:1px solid #fff;
}

.txtsearch,.btnsearch {
color:#555;
border:1px solid #ACD5EB;
background-repeat:no-repeat;
background-position:3px 1px;
}


.nav {
font-family: arial;
height:30px;
background-image:url(/images/bgnav.png);
margin-bottom:5px;
}

.navlinks {
width:952px;
font-size:9pt;
color:#fff;
font-weight:700;
line-height:30px;
margin:0 auto;
}

.content {
width:942px;
border:2px solid #A8BDC6;
background:#E5ECF3;
margin:0 auto;
padding:5px;
}

.subhead {
font-weight: 700;
border-top: 1px solid #fff;
font-size: 9.5pt;
color: #555;
}

.borderhider { display: none; }


.mediainfo div
{
width: 140px;
}

.notify_odd {
background:#d8dfea;
}

.notify_even {
background:clear;
}