ul, li
{
list-style: none;
padding: 0;
margin: 0;
}

body {
margin:3px 5px;
padding:0;
}

.bggraygrad
{
background-image: url(/images/bggraygrad.png);
background-repeat: repeat-x;
}

.graygradient .headcontainer
{
width: 1053px; margin: 0 auto; padding-top: 22px; overflow: hidden; height: 405px;
}

.graygradient
{
height: 449px;
}

.searchterm {
font-family:arial;
color:#326798;
white-space:nowrap;
}

.howused {
padding-left:11px;
width:361px;
float:left;
}

.howused h1 {
font-weight:700;
color:#326798;
font-size:18pt;
margin:0 0 3px 1px;
}

.howused .icons img {
float:left;
margin-right:15px;
}

.howused .icons div {
padding-top:8px;
height:57px;
}

.howused .icons {
border-top:1px solid silver;
color:#555;
font-size:10pt;
width:275px;
}

.toptool {
float:left;
padding-left:24px;
width:181px;
}

.toptool h3 {
font-family:arial;
font-size:9pt;
color:#326798;
margin:0 0 0 1px;
}

.toptool div {
font-size:8pt;
color:#555;
width:140px;
}

.frontuserpics div {
float:left;
border:1px solid #000;
width:48px;
height:48px;
margin-left:4px;
}

.logintxt img {
vertical-align:text-bottom;
padding:0 2px;
}

.logintxt {
width:400px;
float:left;
}

.divlogin {
float:right;
}

.divlogin img {
vertical-align:text-bottom;
}

.divlogin input {
width:147px;
height:21px;
line-height:21px;
color:#555;
border:1px solid #999;
background:#fff;
padding:0 0 0 8px;
}

.waterheader {
background:url(/images/waterheader.jpg) no-repeat top center;
height:135px;
}

.txtsearch,.btnsearch {
color:#555;
border:1px solid #ccc;
background-repeat:no-repeat;
background-position:3px 1px;
}

.curuserpic {
height:48px;
width:48px;
border:2px solid #326798;
}

.nav {
font-family:tahoma;
height:28px;
background-image:url(/images/bgnav_s.png);
margin-bottom:5px;
}

.nav2 {
position:relative;
height:63px;
background-color:#1B3E5D;
background-repeat:no-repeat;
background-image:url(/images/bluebar.png);
background-position:center 42px;
margin-bottom:5px;
line-height:40px;
}

.separator {
color:silver;
font-weight:400;
}

.navlinks {
width:956px;
font-size:9pt;
color:#fff;
font-weight:700;
line-height:28px;
margin:0 auto;
}

.nav2content .userarrow {
padding:16px 0 0 10px;
}

.nav2content .black,.nav2content .gray {
width:5px;
height:26px;
border-right:1px solid #000;
margin-top:7px;
float:left;
}

.nav2content .userpic img {
height:24px;
width:24px;
border:1px solid #000;
}

.nav2content .user {
float:left;
width:35px;
}

.nav2content .userpic {
width:33px;
float:left;
padding:7px 0 0 25px;
}

.nav2content .gray {
border-left:1px solid #2f2f2f;
}

.nav2content #notifications_container {
width:100%;
border:1px solid #1B3E5D;
position:absolute;
top:35px;
left:-153px;
background:#fff;
line-height:normal;
z-index:999;
display:none;
padding:5px;
}

.nav2content .image {
float:left;
height:40px;
width:21px;
padding-top:12px;
position:relative;
}

.nav2content .links .divider {
margin-left:15px;
}

.nav2content .links a,.nav2content .user a {
color:#fff;
font-size:10pt;
}

.nav2content .links {
padding-left:10px;
float:left;
}

.nav2content .search .bino {
width:23px;
border:1px solid #BDC7D8;
border-top:0;
border-bottom:0;
height:16px;
margin-top:7px;
text-align:center;
line-height:16px;
float:left;
}

.nav2content .search .txt {
border:0;
width:200px;
font-family:tahoma;
font-size:10pt;
background:transparent;
height:28px;
line-height:28px;
padding:0 0 0 11px;
}

.nav2content .search {
float:left;
width:300px;
height:29px;
line-height:29px;
background-image:url(/images/bgsearch2.png);
margin-top:5px;
}

.nav2content .title a {
font-family:tahoma;
font-size:24pt;
font-weight:700;
color:#fff;
}

.nav2content .title img {
margin-top:-3px;
}

.nav2content .title {
float:left;
padding-left:15px;
width:184px;
}

.nav2content {
padding-top:3px;
width:984px;
background-image:url(/images/bgnav_sr.png);
background-position:0 38px;
background-repeat:no-repeat;
margin:0 auto;
}

.navdrop {
position:absolute;
display:none;
background:#fff;
top:16px;
left:-5px;
border:1px solid #326798;
width:150px;
z-index:999;
clear:both;
}

.nav2 .navdropcontain {
font-size:10pt;
color:#fff;
}

.nav2 .navdrop {
border:1px solid #1B3E5D;
}

.navdrop .item a,.toplink a {
color:#326798;
font-size:9pt;
}

.moresearch {
color:#326798;
font-size:8pt;
padding:0 5px;
}

.navdrop .item img,.toplink img {
vertical-align:middle;
padding:0 7px 2px 5px;
}

.toplink {
float:left;
padding-right:15px;
}

.navdrop .item {
cursor:pointer;
height:25px;
line-height:25px;
width:150px;
font-size:9pt;
font-family:arial;
font-weight:400;
background-repeat:no-repeat;
background-position:5px 5px;
}

.navdrop .item:hover {
background-color:#d8dfea;
}

.navlinks .invite {
font-family:arial;
font-size:10.5pt;
color:#FFF8CC;
font-weight:700;
}

.navdropcontain {
position:relative;
cursor:default;
}

.content {
width:956px;
background:#fff;
margin:0 auto;
}

.contentborder {
width:944px;
border:1px solid #d8dfea;
background:#fff;
margin:0 auto;
padding:5px;
}

.subhead {
font-weight:700;
border-top:1px solid #7DB0D6;
background:#c0d9ec;
font-size:9.5pt;
color:#004080;
padding:1px 1px 1px 5px;
}

.profileleft {
border-left:1px solid #d8dfea;
border-bottom:1px solid #d8dfea;
}

.content_container {
width:455px;
overflow-x:hidden;
float:left;
}

.content_container_border {
width:586px;
overflow-x:hidden;
float:left;
background-image:url(/images/bgprofilepic.png);
}

.content_container_full {
width:624px;
float:left;
padding:0 0 5px 5px;
}

.contentright {
float:right;
width:300px;
background-image:url(/images/bgprofilepic.png);
background-repeat:repeat-x;
padding:33px 10px 0 0;
}

.profileleft,.contentleft {
padding-left:5px;
background-image:url(/images/bgprofilepic.png);
background-repeat:no-repeat;
}

.borderhider2 {
position:absolute;
left:930px;
top:0;
height:26px;
background:#fff;
width:25px;
}

.borderhider {
position:absolute;
top:0;
left:-6px;
background:#FFF;
width:6px;
height:26px;
}

.summaryinfo .value {
color:#000;
white-space:nowrap;
clear:both;
}

.summaryinfo .right {
float:right;
padding-right:5px;
visibility:hidden;
}

.summaryinfo {
float:left;
border-right:1px solid #D8DFEA;
padding-top:3px;
font-size:8pt;
font-family:arial;
margin-left:2px;
height:26px;
line-height:13px;
margin-right:5px;
overflow:hidden;
}

.summaryinfo a {
  font-weight:bold;
}

.logentry .pic {
float:left;
width:52px;
}

.logentry .title_container {
float:left;
padding-top:2px;
margin-bottom:4px;
clear:right;
}

.logentry .title .border .alignbottom .text {
width:355px;
float:left;
}

.logentry .title .border .alignbottom {
width:385px;
display:table-cell;
vertical-align:bottom;
height:44px;
}

.logentry .title .border {
border-bottom:1px solid silver;
font-size:8pt;
padding:0 0 2px 3px;
vertical-align:bottom;
}

.logentry .title {
width:386px;
background:#EDEFF4;
padding:0 0 0 3px;
min-height:44px;
vertical-align:bottom;
}

.logentry .mini img {
vertical-align:middle;
width:16px;
height:16px;
padding:0 4px 2px 0;
}

.logentry .delete {
float:right;
width:15px;
}

.logentry .mini {
color:#000;
line-height:20px;
text-indent:-24px;
padding-left:24px;
width:286px;
float:left;
}

.logentry .media .mleft {
float:left;
padding-right:10px;
}

.logentry .media .minfo {
float:left;
width:380px;
}

.logentry .media .minfo .mtitle a {
font-weight:700;
font-size:9pt;
color:#326798;
}

.tags {
font-size:8pt;
clear:both;
border:1px solid #d8dfea;
padding:10px;
}

.txtwrite1 {
width:245px;
color:#000;
}

.txtwrite3 {
width:335px;
color:#000;
}

.commentwrite3 {
border:1px solid silver;
background:#EDEFF4;
width:424px;
padding:5px;
}

.txtwrite4 {
width:270px;
color:#000;
}

.commentwrite4 {
border:1px solid silver;
background:#EDEFF4;
width:335px;
padding:5px;
}

.commentwrite1 {
border:1px solid silver;
background:#EDEFF4;
width:334px;
padding:5px;
}

.youlikethis1 {
background:#F7F7F7;
width:336px;
margin-top:5px;
font-size:8pt;
padding:2px 6px 4px 4px;
}

.itemlike1 {
float:left;
width:200px;
}

.mediainfo div {
width:70px;
}

.feedshowmore {
width:431px;
border-top:1px solid #326798;
text-align:center;
font-size:8pt;
padding:5px;
}

.bubble_container {
background-color:#f7f7f7;
background-image:url(/images/bubbletop.png);
background-repeat:no-repeat;
padding-top:10px;
}

.bubble_container .bubble img {
float:left;
padding-right:9px;
}

.bubble_container .bubble span {
font-size:9pt;
margin-right:15px;
font-weight:700;
}

.bubble_container .bubble {
border:1px solid silver;
border-top:0;
font-size:10pt;
color:#000;
padding:10px;
}

.bubble_container .bubble .status .minheight {
height:48px;
width:1px;
float:left;
}

.bubble_container .bubble .status span {
padding-right:0;
margin-right:0;
}

.logentry .wallpost {
font-size:10pt;
padding:10px;
}

.cmanitem .fieldtitle {
color:#777;
padding-right:5px;
}

.cmanitem {
border:1px solid #7f9db9;
background:#fff;
width:295px;
font-size:8pt;
margin-top:5px;
padding:3px;
}

.cmanitem img {
float:left;
padding-right:5px;
width:48px;
height:48px;
}

.contactedit {
float:right;
text-align:right;
font-size:8pt;
padding:5px 5px 0 0;
}

.contactedit input {
width:130px;
}

.contactedit span {
color:#777;
padding-right:8px;
}

.contacteditleft {
float:left;
font-size:8pt;
width:100px;
overflow:hidden;
padding:5px 0 0 5px;
}

.addtag input {
vertical-align:middle;
margin-right:7px;
}

.nametag {
background:#000;
font-size:9pt;
color:#fff;
font-weight:700;
position:absolute;
width:75px;
text-align:center;
padding:5px;
}

.usertag,.usertagmini {
position:absolute;
width:81px;
height:81px;
border:3px solid #FFF;
}

.usertag_container img {
cursor:crosshair;
}

.usertag_container {
width:255px;
}

.usertagmini {
width:32px;
height:32px;
border:2px solid #FFF;
}

.usertag div {
width:79px;
height:79px;
border:1px solid #000;
}

.connect {
font-size:10.5pt;
font-weight:700;
color:#326798;
padding:5px;
}

.connect img {
vertical-align:middle;
padding:0 5px 2px 0;
}

.connect .desc {
font-size:8pt;
color:#777;
font-weight:400;
padding:10px 0 5px;
}

.connect .desc .link {
text-align:right;
padding-top:10px;
}

.pymk {
float:left;
width:145px;
color:#555;
padding-top:10px;
}

.pymk img {
width:48px;
height:48px;
padding-right:5px;
float:left;
}

.pymk a {
font-size:8pt;
font-weight:400;
text-decoration:none;
}

.pymk .userlink {
font-size:9pt;
font-weight:700;
color:#555;
}

.nowrap {
white-space:nowrap;
overflow-x:hidden;
}

.pymk .nowrap {
width:82px;
}

.pymkbig .pymk {
width:200px;
}

.pymkbig .pymk .nowrap {
width:145px;
padding-bottom:10px;
}

.logalbum {
float:left;
padding-right:5px;
}

.logalbum img {
  padding-top:5px;
}

.publish_it input {
font-size:11pt;
font-weight:700;
}

.publish_it {
margin-top:5px;
background:#f5fbfd;
font-size:11pt;
font-weight:700;
color:#333;
text-align:center;
padding:10px;
}

.msgpreview .msgcontainer .border {
border-bottom:1px solid silver;
height:19px;
}

.msgpreview .msgcontainer .border .icons img {
padding-right:4px;
vertical-align:bottom;
}

.msgpreview .msgcontainer .border .icons {
float:right;
clear:right;
font-size:9pt;
}

.msgpreview .msgcontainer .border .date {
float:left;
padding:3px;
}

.msgpreview .msgcontainer .msg div {
height:10pt;
overflow:hidden;
}

.msgpreview .msgcontainer .msg {
line-height:11pt;
cursor:pointer;
padding:2px 3px 0;
}

.msgpreview .msgcontainer {
float:left;
width:373px;
font-size:8pt;
}

.msgpreview .userpic {
float:left;
width:58px;
height:48px;
}

.msgpreview {
margin:5px 0 10px;
padding:3px;
}

.friendrequests {
font-size:8pt;
padding-right:3px;
}

.friendrequests img {
border:1px solid #000;
}

.getconnected .sites div {
padding-bottom:5px;
}

.getconnected .sites {
float:left;
width:75px;
}

.getconnected .sites img {
vertical-align:top;
margin-right:5px;
}

.getconnected {
background:#F2FBFE;
border:1px solid #d8dfea;
font-size:8pt;
color:#326798;
margin-top:3px;
cursor:pointer;
padding:5px;
}

.followmepopup .textbox {
width:135px;
}

.followmepopup span {
font-weight:700;
padding-right:5px;
}

.followmepopup img {
margin-right:5px;
vertical-align:middle;
padding:8px;
}

.followmepopup .site {
padding-top:7px;
}

.followmepopup {
font-size:8pt;
color:#326798;
}

.nagadd {
border:1px solid #d8dfea;
width:326px;
background:#F2FBFE;
background-repeat:no-repeat;
background-position:5px 5px;
font-size:8pt;
margin:0 auto 10px;
padding:5px 5px 5px 30px;
}

.usermedia div a {
font-size:10pt;
font-weight:700;
}

.usermedia img {
height:95px;
width:119px;
}

.usermedia {
float:left;
width:119px;
border:3px solid #fff;
}

.usermedia_highlight-container {
background:#d8defa;
float:left;
}

.usermedia_highlight {
border:3px solid #d8dfea;
}

.usermedia div {
font-size:8pt;
padding:5px 0 0 3px;
}

.usermedia_vspacer {
clear:both;
height:11px;
}

.usermedia_hspacer {
width:10px;
float:left;
}

.category {
float:left;
width:187px;
border:1px solid #d8defa;
font-size:9pt;
margin:10px 10px 0 0;
padding:7px;
}

.category .title {
text-align:center;
font-size:12pt;
padding-bottom:15px;
}

.marqueefloat .title {
font-size:8pt;
overflow:hidden;
line-height:11pt;
height:35pt;
padding:2px;
}

.marqueefloat {
position:absolute;
width:100px;
padding-right:6px;
overflow:hidden;
visibility:hidden;
}

.personalinfo {
clear:both;
font-size:8pt;
padding:8px 0 25px;
}

.edit {
float:right;
width:15px;
text-align:right;
visibility:hidden;
font-size:8pt;
font-weight:bold;
}

.personalinfo .items {
float:left;
width:423px;
}



.personalinfo .cat {
padding-left:5px;
float:left;
width:100px;
font-weight:700;
font-size:9pt;
text-decoration:none;
}

.itemchooser {
position:absolute;
left:-1px;
top:18px;
width:200px;
border:1px solid #555;
display:none;
z-index:500;
}

.itemchooserparent {
clear:both;
display:none;
padding:20px 0 10px;
}

.itemchooser .chooser .item span {
padding-left:20px;
}

.itemchooser .chooser .item {
position:relative;
}

.itemchooser .chooser .item input {
position:absolute;
top:4px;
margin:0;
padding:0;
}

.itemchooser .chooser {
background:#E2F1FE;
overflow:auto;
font-size:8pt;
color:#000;
line-height:16pt;
height:168px;
padding:3px;
}

.profilepreview {
width:203px;
height:125px;
background:#f7f7f7;
border:1px solid #999;
font-size:9pt;
padding:5px;
}

.work {
font-size:10pt;
color:#555;
padding-top:10px;
clear:both;
}


.work .date {
float:left;
width:300px;
text-decoration:none;
margin-bottom:5px;
font-size:9pt;
}

.work .info {
float:left;
width:410px;
}

.work .info .company a {
font-weight:700;
}

.work .info .position {
width:145px;
float:left;
}

.work .title
{
  font-weight:bold;
}

.work .title a
{
  font-weight:bold;
}

.work .company {
width:265px;
float:left;
}

.work .info .descr div {
padding-top:2px;
color:#000;
}

.work .preview {
  clear:both;
  width:140px;
  float:left;
}

.work .descr {
width:390px;
float:left;
font-size:8pt;
color:#000;
padding-bottom:10px;
padding-left:10px;
}

.education {
font-size:9pt;
}

.education .period {
clear:left;
float:left;
width:211px;
font-size:9pt;
}

.network {
border:1px solid #d8dfea;
width:270px;
font-size:8pt;
font-weight:300;
padding:5px;
}

.network2 {
width:239px;
border:0;
font-size:9pt;
margin:0;
padding:0 25px 15px 0;
}

.network .editlinks a {
font-weight:400;
font-size:8pt;
}

.network .editlinks {
text-align:center;
padding-top:3px;
}

.networkdd {
clear:both;
font-size:8pt;
border-bottom:2px solid gray;
padding:5px 0;
}

.networkdd .chk {
float:left;
width:25px;
}

.networkdd .name {
float:left;
padding-top:3px;
width:150px;
color:#000;
font-weight:300;
line-height:10pt;
}

.networkdd .name .loc {
font-weight:400;
padding-top:2px;
color:gray;
}

.notification .pic img {
border:1px solid #000;
width:24px;
height:24px;
}

.notification .pic {
width:32px;
}

.notification .text {
width:75%;
line-height:9pt;
}

.notification {
font-size:8pt;
clear:both;
padding-top:5px;
}

.notification .clear,.notification2 .clear {
clear:both;
height:5px;
}

.notification2 {
font-size:8pt;
clear:both;
padding-top:5px;
border-top:1px solid #C0D9EC;
}

.notification2 .pic {
width:53px;
}

.notification2 .text {
width:165px;
line-height:9pt;
}

.trickyborder {
width:944px;
border:1px solid #d8dfea;
border-top:0;
padding:0 5px 5px;
}

.trickyborder .links .toplink {
padding-right:7px;
}

.trickyborder .links .divider {
float:left;
padding-right:4px;
width:1px;
overflow:hidden;
border-left:1px solid #d8dfea;
}

.trickyborder .links {
float:left;
width:450px;
padding:3px 0 0 11px;
}

.trickyborder .subhead {
margin-top:10px;
}

.trickyborder .left .blinder {
position:absolute;
background:#fff;
top:0;
left:-6px;
width:6px;
border-bottom:1px solid #d8dfea;
height:26px;
}

.trickyborder .topborder .title {
width:756px;
border-bottom:1px solid #d8dfea;
height:26px;
background:#fff;
margin-bottom:3px;
padding-left:16px;
}

.trickyborder .topborder {
width:766px;
float:left;
}

.trickyborder .right {
width:300px;
float:right;
}

.trickyborder .middle {
width:441px;
padding-left:12px;
float:left;
}

.trickyborder .left {
width:178px;
float:left;
position:relative;
}

.page_preview .info .title .linkright {
float:right;
font-size:8pt;
font-weight:400;
padding-right:2px;
}

.page_preview .info .title {
border-bottom:1px solid #d8dfea;
font-size:9pt;
font-weight:700;
margin:0 0 2px -2px;
padding:3px 2px 2px;
}

.page_preview .info .fr {
float:right;
padding-right:3px;
}

.page_preview .info {
padding-left:2px;
overflow:hidden;
font-size:8pt;
color:gray;
}

.page_preview {
clear:both;
padding:10px 0 0 3px;
}

.page_preview .pic {
float:left;
width:53px;
}

.page_smpreview .pic {
float:left;
width:31px;
}

.page_smpreview {
clear:both;
font-size:8pt;
padding:5px 0;
}

.page_smpreview .join {
float:right;
padding-right:2px;
padding-left:3px;
}

.page_smpreview .title {
float:left;
width:125px;
}

.orangebutton,.bluebutton {
background:#fff8cc;
border:1px solid #FF9A66;
font-size:10pt;
font-weight:700;
margin-top:10px;
text-align:center;
cursor:pointer;
color:#326798;
padding:5px;
}

.bluebutton {
border:1px solid #7DB0D6;
background:#c0d9ec;
color:#326798;
}

.whitebutton {
border:1px solid #000;
background:#FFF;
color:#7DB0D6;
margin-top:15px;
padding:3px;
}

.profiletop .descr {
border-bottom:1px solid #D8DFEA;
padding-bottom:5px;
font-size:10pt;
line-height:17px;
overflow:hidden;
height:32px;
position:relative;
}

.profiletop {
background-image:url(/images/bglogtop.png);
background-repeat:repeat-x;
margin:0 5px 5px;
padding:5px;
}

.profiletop .descr .more span {
color:#555;
font-size:10pt;
}

.profiletop .descr .more {
font-size:8pt;
color:#326798;
background:#fff;
background-image:url(/images/bglogtop.png);
background-repeat:repeat-x;
position:absolute;
background-position:17px 0;
top:17px;
left:467px;
width:100px;
display:none;
cursor:pointer;
}

.bgbluegrad {
background:#F8FDFE;
}

.btnaddmedia {
background:#E5ECF3;
border:1px solid #A8BDC6;
font-size:12pt;
font-weight:700;
color:#326798;
width:140px;
text-align:center;
cursor:pointer;
margin:10px auto;
padding:5px 15px;
}

.mediapreviewsmall .info .descr {
padding:2px 0 0 2px;
}

.mediapreviewsmall .info .addlink {
float:right;
padding-right:2px;
}

.mediapreviewsmall .info .title span {
width:275px;
}

.mediapreviewsmall .info .title {
border-bottom:1px solid silver;
padding:0 0 2px 2px;
}

.mediapreviewsmall .info {
width:376px;
float:left;
padding-bottom:5px;
}

.mediapreviewsmall .pic {
width:83px;
float:left;
padding-bottom:5px;
}

.mediapreviewsmall {
padding-top:5px;
font-size:8pt;
clear:both;
}

.chooseprofilepic div {
clear:both;
visibility:hidden;
height:16px;
padding:2px 0 0 6px;
}

.chooseprofilepic {
float:left;
padding:0 0 0 9px;
}

.notify_even {
background:clear;
}

.pageabout .summaryinfo {
height:125px;
}

.pageabout textarea {
width:537px;
height:165px;
line-height:15px;
margin-bottom:5px;
border:1px solid #555;
}

.pageabout .summaryinfo textarea {
width:156px;
height:56px;
line-height:14px;
margin:0;
}

.pageabout .summaryinfo input,.pageabout .summaryinfo select {
width:156px;
border:1px solid #555;
margin:0;
}

.showmore {
padding-top:3px;
border-top:1px solid #326798;
font-size:8pt;
color:#326798;
text-align:center;
cursor:pointer;
}

.photochanger .title {
font-size:8pt;
color:gray;
height:20px;
}

.photochanger {
padding-top:5px;
margin-left:10px;
display:none;
overflow:hidden;
opacity:0;
filter:alpha(opacity = 0);
}

.photochanger .progress {
margin-top:2px;
float:right;
padding-right:10px;
display:none;
width:100px;
font-size:8pt;
}

.photochanger .arrow {
float:left;
padding-top:20px;
width:13px;
}

.photochanger .pcpcontainer {
position:relative;
overflow:hidden;
height:48px;
width:520px;
float:left;
}

.photochanger .pcpcontainer .pcphotos {
position:absolute;
}

.photochanger .pcpcontainer .pcphotos img {
height:48px;
width:48px;
margin-right:11px;
cursor:pointer;
}

.mustjoin {
position:absolute;
top:0;
left:0;
background:#EDEFF4;
-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
opacity:0.5;
filter:alpha(opacity = 50);
width:440px;
height:95px;
}

.vesselinfo {
float:left;
width:260px;
font-size:8pt;
line-height:12pt;
color:#555;
}

.strong {
font-size:14pt;
font-weight:700;
color:#555;
padding-bottom:5px;
}

.welcomebox img {
vertical-align:middle;
}

.welcomebox {
border:1px solid silver;
background:#EDEFF4;
font-size:9pt;
color:#555;
padding:5px;
}

.welcomebox .stat {
float:left;
width:93px;
border-right:1px solid silver;
text-align:center;
font-size:9pt;
padding:8px 0;
}

.trending .image {
padding-left:10px;
}

.trending {
border:1px solid #d8dfea;
padding:10px 0;
}

.trending .logentry .title {
width:376px;
}

.searchhead a {
font-size:12pt;
font-weight:700;
text-decoration:underline;
}

.searchhead {
clear:both;
padding:5px 0 5px 3px;
}

.searchimages div {
float:left;
width:100px;
padding:0 10px 5px 0;
}

.searchimages div img {
width:100px;
height:75px;
clear:both;
padding:0 0 1px;
}

.searchdiv {
clear:both;
border-bottom:1px solid #E9E9E9;
height:5px;
width:580px;
}

.searchmore {
clear:both;
height:16px;
line-height:16px;
}

.match {
font-weight:700;
color:#000;
}

.noresults2 {
color:#000;
font-weight:700;
padding:10px;
}

.joinresult {
padding-top:4px;
width:420px;
text-align:right;
font-size:8pt;
}

.userpichead a {
color:#555;
font-size:18pt;
font-weight:700;
}

.userpichead img {
height:24px;
width:24px;
border:1px solid #555;
vertical-align:middle;
margin:0 10px 5px 0;
}

.contactstatus .status {
font-size:9pt;
line-height:16px;
}

.contactstatus .user {
font-size:9pt;
font-weight:700;
height:32px;
line-height:16px;
}

.contactstatus .userpic {
width:48px;
height:48px;
margin:0 5px;
}

.contactstatus .info {
float:left;
width:250px;
}

.contactstatus .actions .link {
padding-top:16px;
}

.contactstatus .actions {
float:right;
text-align:right;
padding-right:5px;
width:200px;
}

.contactstatus {
border-bottom:1px solid #d8dfea;
font-size:9pt;
color:#555;
padding:2px;
}

.frontoverview .section .text {
width:150px;
padding-top:5px;
}

.frontoverview .section {
float:left;
font-size:10pt;
color:#555;
width:175px;
line-height:15pt;
}

.frontoverview .section .title {
color:#326798;
padding-bottom:3px;
border-bottom:1px solid silver;
text-ident:2px;
width:150px;
font-size:14pt;
font-weight:700;
}

.newusercontent h1 {
font-family:arial;
font-size:14pt;
font-weight:700;
margin:10px 0;
}

.newusercontent {
width:1050px;
border:1px solid silver;
background:#fff;
margin:10px auto 0;
padding:5px;
}

.slide-out-div {
width:230px;
background:#eee;
border:1px solid #29216d;
padding:20px;
}

.ad {
width:140px;
height:215px;
overflow:hidden;
}

.ad .image {
margin-left:0;
width:119px;
height:95px;
border:1px solid #000;
}

.ad .title {
color:#326798;
font-weight:700;
font-size:9pt;
width:140px;
}

.ad .body {
font-size:8pt;
color:#555;
width:140px;

overflow:hidden;
}

.jobs-side a {
color:#326798;
font-size:8pt;
}

.jobs-profile {
width:119px;
float:left;
font-size:8pt;
border:1px solid #d8dfea;
height:230px;
overflow:hidden;
margin:5px;
padding:3px;
}

.job_listing {
width:430px;
}

.job_listing .image {
width:100px;
float:left;
margin-left:0;
margin-right:5px;
height:75px;
}

.job_listing .title {
float:right;
color:#326798;
font-weight:700;
font-size:9pt;
width:320px;
margin-bottom:3px;
}

.job_listing .subtitle {
float:right;
font-size:8pt;
width:320px;
margin-bottom:3px;
}

.job_listing .body {
float:right;
clear:right;
width:320px;
font-size:8pt;
color:#555;
overflow:hidden;
}

.job_listing .subtitle2 {
font-size:8pt;
font-weight:300;
color:#000;
}

.searchPreview {
border:1px solid #555;
background-color:#fff;
width:288px;
overflow:hidden;
line-height:normal;
margin:0;
padding:0;
}

.searchPreview .searchItem {
clear:both;
height:55px;
font-size:9pt;
overflow:hidden;
margin:0;
padding:0;
}

.searchPreview .searchItem .image {
padding-left:3px;
padding-top:3px;
width:48px;
height:48px;
float:left;
padding-right:5px;
}

.searchPreview .searchItem .text {
width:232px;
float:left;
color:#555;
padding-top:5px;
}

.searchPreview .searchHeading {
font-weight:700;
border-top:1px solid #7DB0D6;
background:#c0d9ec;
font-size:9.5pt;
color:#004080;
height:20px;
width:283px;
margin:0;
padding:1px 1px 1px 5px;
}

.searchPreview .searchHeading .viewall2 {
font-size:8pt;
float:right;
margin-top:0;
margin-right:3px;
height:20px;
padding-top:2px;
}

.searchPreview .searchHeading .viewall2 a {
color:#004080;
text-decoration:none;
}

.page-create-left-button {
background-color:#f3f8fb;
border:1px solid #d8dfea;
width:200px;
margin-bottom:9px;
cursor:pointer;
font-size:9pt;
font-weight:700;
height:48px;
padding:6px;
}

.page-create-left-button-chosen {
background-color:#fff9d7;
border:1px solid #e2c822;
width:200px;
margin-bottom:9px;
cursor:pointer;
font-size:9pt;
font-weight:700;
height:48px;
padding:6px;
}

.page-create-left-button:hover {
background-color:#fff9d7;
border:1px solid #e2c822;
}

.page-create-content {
background-color:#f3f8fb;
border:1px solid #d8dfea;
width:490px;
margin-bottom:9px;
padding-top:6px;
font-size:11pt;
}

.dentry input {
color:#555;
width:170px;
height:15px;
margin:5px;
padding:5px;
}

.dentry select {
height:28px;
color:#555;
margin:5px 5px 5px 10px;
padding:5px;
}

.myPages {
background-color:#fff;
width:250px;
overflow:hidden;
line-height:normal;
margin:0;
padding:1px;
}

.myPages .Item {
clear:both;
height:30px;
font-size:8pt;
overflow:hidden;
cursor:pointer;
margin:0;
padding:0;
}

.myPages .Item .image {
padding-left:3px;
padding-top:3px;
width:26px;
float:left;
padding-right:3px;
}

.myPages .Item .text {
width:120px;
height:38px;
float:left;
color:#555;
padding-top:3px;
}

.myPages .Item .text_wide {
width:180px;
height:38px;
float:left;
color:#555;
padding-top:3px;
}

.myPages .Item .addpeople a {
height:32px;
float:right;
padding-top:3px;
padding-right:5px;
}

.myPages_NoPages {
font-size:8pt;
width:248px;
padding-left:2px;
padding-bottom:10px;
cursor:pointer;
background-color:#edeff4;
}

.toptool img,.marqueefloat img {
width:100px;
height:75px;
}

.navlinks .unbolded,.logentry .delete a,.logentry .media .minfo .mdescr a,.youlikethis1 a,.itemlike1 a,.network span {
font-weight:400;
}

.summaryinfo .left,.notification div,.notification2 div,.page_preview .info .cat {
float:left;
}

.logentry,.logentry .media .minfo .mdescr,.network a,.searchimages div span,.jobs-side {
font-size:8pt;
}

.logentry .pic img,.notification2 .pic img,.page_preview img {
width:48px;
height:48px;
}

.logentry a,.msgpreview .msgcontainer .msg span {
font-size:9pt;
font-weight:300;
}

.commentwrite3 input,.commentwrite1 input {
border:1px solid silver;
font-size:8pt;
height:14px;
background:#fff;
margin:0;
padding:3px;
}

.addtag,.addtag a {
font-size:8pt;
white-space:nowrap;
}

.myPages .Item .addpeople a:hover,#aboutprofile a:hover {
 text-decoration:underline;
}

.pymk div,.searchmore a {
font-size:8pt;
font-weight:400;
}

.msgpreview_on,.notify_odd {
background:#edeff4;
}

.page_smpreview .pic img,.myPages .Item .image img {
width:24px;
height:24px;
border:1px solid #000;
}

.vesselinfo span {
color:#000;
}

.welcomebox .stat span,.ad .report a,.job_listing .report a {
font-size:8pt;
color:#555;
}

.searchmore img,.joinresult img {
vertical-align:middle;
padding-right:5px;
}

.ad .report,.job_listing .report {
margin-top:5px;
margin-left:0;
}

.ad .report a:hover,.job_listing .report a:hover {
color:#326798;
}

.searchPreview .searchItem .text a,.myPages .Item .text a,.myPages .Item .text_wide a {
color:#326798;
clear:none;
margin:0;
padding:0;
}

.searchPreview .searchItem:hover,.myPages .Item:hover {
background-color:#edeff4;
}

.entryheadlink a
{
color: #555;
}

.entryheadlink .dropdown .item, .entryheadlink .dropdown .itemselected
{
padding: 0 5px;
background: #fff;
font-weight: normal;
}

.entryheadlink .dropdown .itemselected
{
background: #E3E3E3;
color: #326798;
}

.entryheadlink .dropdown
{
display: none;
width: 194px;
padding: 0 1px 1px;
border: 1px solid #000;
border-top: 0;
position: absolute;
left: 36px;
top: 28px;
background: white;
font-size: 9pt;
line-height: 28px;
}

.entryheadlink
{
position: relative;
padding-left: 38px; font-size: 11pt; font-weight: bold; float: left; height: 28px; xoverflow: hidden;
}

.billing_header { color: #326798; margin-top:3px; padding-left:5px; font-size:10pt; font-weight:bold; }
.billing_itemhead { margin-top:15px; }
.billing_item {}
.hr { width:100%; height: 1px; color:#d8dfea; background-color:#d8dfea; margin-bottom:5px;}

.order_itemhead { clear:both; padding-left:10px; margin-top:5px; width:250px; float:left; font-size:9pt; font-weight:bold; }
.order_item { padding-right:10px; margin-top:5px; width:100px; float:right; font-size:9pt; font-weight:bold; }

.graygradient .headcontainer .entryslide .slidecontent .title
{
color: #333; font-weight: bold; font-size: 32pt;
}

.graygradient .headcontainer .entryslide .slidecontent .text
{
padding-top: 3px; font-size: 11pt;
}

.graygradient .headcontainer .entryslide .slidecontent .quote .text
{
margin-top: 20px;
float: left; color: #D75E1C; font-family: comic sans ms; font-size: 11pt; font-style: italic;
}

.graygradient .headcontainer .entryslide .slidecontent .quote .close
{
margin: 20px 0 0 0;
width: 20px; float: left; height: 32px;
background-image: url(/images/titlequoteclose.png);
background-position: 10px 24px;
background-repeat: no-repeat;
}

.graygradient .headcontainer .entryslide .slidecontent .quotecontainer
{
text-align: center;
}

.graygradient .headcontainer .entryslide .bigimage
{
float: right; margin-top: 30px;
}

.graygradient .headcontainer .entryslide .slidecontent .person
{
clear: both; text-align: right; color: #7f7f7f; font-size: 8pt; padding: 3px 20px 20px 0;
}

.graygradient .headcontainer .entryslide .slidecontent .quote
{
display: inline-block;
}

.graygradient .headcontainer .entryslide .slidecontent .quote .open
{
margin-top: 20px;
width: 15px; float: left; height: 10px;
background-image: url(/images/titlequoteopen.png);
background-position: 0 2px;
background-repeat: no-repeat;
}

.graygradient .headcontainer .entryslide .slidecontent
{
padding-top: 30px; width: 480px; float: left;
}

.graygradient .headcontainer .entryslide
{
position: absolute;
height: 405px;
width: 1070px;
}

.campaign_table {
  background-color: rgb(216, 223, 234);
  width:100%;
}

.campaign_table tr th {
  background-color: #EEEEEE;
  color:rgb(50, 103, 152);
  font-size: 9pt;
  height: 30px;
}

.campaign_table tr td
{
  background-color: #FFF;
  font-size: 9pt;
  height: 40px;
}

.vessel_spec_group {
  clear:both;
  font-size:8pt;
  margin-top:10px;
}

.vessel_spec_header {
  clear:both;
  font-size:9pt;
  font-weight:bold;
  color:#212121;
  margin-bottom:3px;
}

.vessel_spec_col {
  width:265px;
  border-left : 1px solid #89b8da;
  float:left;
}

.vessel_spec_item {
  clear:both;
  border-bottom: 1px solid #dfdfdf;
  line-height: 25px;
}

.vessel_spec_item_title {
  width: 115px;
  padding-left:5px;
  float:left;
  font-weight:bold;
}

.vessel_spec_item_value {
  width:125px;
  float:left;
  line-height:14px;
  padding-top:6px;
}
