<p>This content came from an AJAX request. Using TinyBox you can easily <a href="javascript:TINY.box.size('tinybox',450,300,4)">expand</a> or <a href="javascript:TINY.box.size('tinybox',200,175,4)">contract</a> a popup on the fly. You can even <a href="javascript:TINY.box.hide()">close it</a>.</p>
<p><a href="javascript:TINY.box.fill('Static Content',0,0,0,1)">Click here</a> to load some static HTML or <a href="javascript:TINY.box.fill('ajax.html',1,0,0,1)">click here</a> to load an external HTML table.</p>